{% extends "network/layout.html" %}

{% block body %}
<style>
.posts_1{
 display: flex;
 flex-direction: column;
  padding-left: 10px;

}

</style>
    <h4>ALL posts</h4><br>
    {% if user.is_authenticated %}
    <div class="posts_1">
        <h2><b>new post</b></h2>
        <form action="{% url 'newpost' %}" method="post">
            {% csrf_token %}
            <textarea name="content" cols="80" rows="4"></textarea><br>
            <input type="submit" value="Post">
        </form>
    </div>
    {% endif %}
    <div class="post_page">
    {% for post in all_posts %}
    <div class="Post_con">
        <h5 class="username">@{{ post.user }}</h5>
        <h6 class="content">{{ post.content }}</h6>
        <p class="date">{{ post.date }}</p>
    </div>
    {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if post_page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ post_page.previous_page_number }}">Previous</a></li>
            {% endif %}
            
            {% if post_page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ post_page.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    
{% endblock %}
