#top-color{ background-color: rgb(68, 38, 17);
       
   
   
   }
   div{
    background-color: cadetblue;
     
   }
   .table ,th ,tbody ,td{
    border: 1px  solid   #000;
    
   }
   .top-div{ margin: 0%;}