@media (min-width: 600px) {
    body {
        background-color: red;
    }
    lu li { margin: 5px; display: inline;}
}

@media (max-width: 599px) {
    body {
        background-color: blue;
    }
    lu li { margin: 20px; display:none;}
    
}
